Client/Connected Services/CourierServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="placerequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sender_id" type="xs:int" />
        <xs:element minOccurs="0" name="sender_address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="src_city" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receiver_name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receiver_address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receiver_mobile" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dest_city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="placerequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="placerequestResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelrequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courier_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelrequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cancelrequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>