Client/Connected Services/AdminServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CourierManagementSystem/AdminService/mex/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CourierManagementSystem" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CourierManagementSystem/AdminService/mex/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="getData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CourierManagementSystem" minOccurs="0" name="getDataResult" nillable="true" type="q1:ArrayOfAdminData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="assigndeliveryperson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courier_id" type="xs:int" />
        <xs:element minOccurs="0" name="employee_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="assigndeliverypersonResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="changestatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courier_id" type="xs:int" />
        <xs:element minOccurs="0" name="new_status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="changestatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmployeeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getEmployeeListResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>