Client/Connected Services/AdminServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CourierManagementSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CourierManagementSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAdminData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminData" nillable="true" type="tns:AdminData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminData" nillable="true" type="tns:ArrayOfAdminData" />
  <xs:complexType name="AdminData">
    <xs:sequence>
      <xs:element minOccurs="0" name="courier_id" type="xs:int" />
      <xs:element minOccurs="0" name="dest_city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="employee_id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="receiver_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiver_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sender_id" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminData" nillable="true" type="tns:AdminData" />
</xs:schema>