Client/Connected Services/ProfileServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CourierManagementSystem" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CourierManagementSystem" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Profile">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="history" nillable="true" type="tns:ArrayOfHistory" />
      <xs:element minOccurs="0" name="mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
      <xs:element minOccurs="0" name="user_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Profile" nillable="true" type="tns:Profile" />
  <xs:complexType name="ArrayOfHistory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="History" nillable="true" type="tns:History" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHistory" nillable="true" type="tns:ArrayOfHistory" />
  <xs:complexType name="History">
    <xs:sequence>
      <xs:element minOccurs="0" name="courier_id" type="xs:int" />
      <xs:element minOccurs="0" name="date_of_order" type="xs:dateTime" />
      <xs:element minOccurs="0" name="dest_city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiver_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiver_mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="receiver_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sender_address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="src_city" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="History" nillable="true" type="tns:History" />
</xs:schema>